@model Pizza

@{
    ViewData["Title"] = "Home Page";
}

<h2> Modifier une Pizza </h2>
<form method="post" role="form" enctype="multipart/form-data" class="w-50">
    <input asp-for="Id" type="hidden"/>
    <label asp-for="Nom" class="col-form-label"></label>
    <input asp-for="Nom" class="form-control" value="@Model.Nom" />

    <br />

    <label asp-for="Description" class="col-form-label"></label>
    <textarea asp-for="Description" class="form-control" >
        @Model.Description
        </textarea>

    <br>

    <label asp-for="Ingredients" class="col-form-label"></label>
    <input asp-for="Ingredients" class="form-control" value="@Model.Ingredients" />


    <br>

    <label asp-for="Prix" class="col-form-label"></label>
    <input asp-for="Prix" class="form-control" value="@Model.Prix" />

    <br>

    <label for="Image" class="col-form-label"> Télécharger une Image </label>
    <input type="file" class="form-control" id="file" name="file" placeholder="uploader une image" />


    <br />

    <button type="submit" class="btn text-light" style="background-color:#0A1627;">Appliquer</button>










</form>

